$fullWidth : 100%;
$color: black;
$font: 30px;
$bg-color : #fed426;
$phone: 321px;
$phone-portrait:480px;
$count: 100px;
$phone-portrait-one: 481px;	
$mobile-landscape: 640px;
$mobile-landscape-one: 641px;
$tab: 767px;
$tab-one: 768px;
$tab-landscape: 990px;
$tab-landscape-one: 991px;
$small-desktop: 1199px;